@model IEnumerable<Suma2Lealtad.Models.Usuario>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

    <div class="col-md-push-1 col-md-10">

        <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Usuarios / Listado de Registros </h3>
        </div>

        <div class="panel-body">

        <table class="table table-striped custab">
            
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    Estatus
                </th>
                <th>
                    Rol
                </th>
                <th class="text-center"></th>
            </tr>
            </thead>

            <tbody>

                @foreach (var item in Model) {
                            
                <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.Nombre)
                </td>

                <td class="text-right">
                    <a href="@Url.Action("Edit","usuario", new { id = item.Id })" class="btn btn-info btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@Url.Action("Delete","usuario", new { id = item.Id })" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>

                </tr>
                            
                }

            </tbody>

        </table>

        <!-- buttons -->
        <div class="col-md-12 col-tabla-btn">
            <div class="pull-right">
                <a class="btn btn-success btn-md" href="@Url.Action("Create","Usuario")">Agregar Nuevo Registro</a>
            </div>
        </div>
        <!--// buttons -->

        </div><!-- panel-body -->

        </div><!-- panel -->
     
    </div><!-- columns -->

    </div><!-- row -->

</div><!-- container -->