@model Suma2Lealtad.Models.AfiliadoSuma

@{
    ViewBag.Title = "Edit";
}

<div class="container">

    <div class="row">

        <div class="panel-body col-md-offset-1 col-md-10">

            <form id="commentForm" method="post" action="@Url.Action("Edit", "AfiliadoSuma")" class="form-horizontal" enctype = "multipart/form-data">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div id="rootwizard">

                    <div class="nav-gradient navbar navbar-default">
                        <div class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="#tab1" data-toggle="tab" class="disabled">Datos Básicos</a></li>
                                <li><a href="#tab2" data-toggle="tab" class="disabled">Documentos</a></li>
                                <li><a href="#tab3" data-toggle="tab" class="disabled">Temas de Interés</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">

                        <!-- DATOS BÁSICOS -->
                        <div class="tab-pane" id="tab1">

                            <div class="editor-label col-md-4 control-label"></div>
                            <div class="editor-field col-md-6">
                                <br />
                            </div>

                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.reasonsid)
                            @Html.HiddenFor(model => model.sumastatusid)
                            @Html.HiddenFor(model => model.clientid)
                            @Html.HiddenFor(model => model.typeid)
                            @Html.HiddenFor(model => model.WebType)
                            @Html.HiddenFor(model => model.estatustarjeta)

                            <div class="editor-label col-md-4 control-label">
                                * Tipo de Afiliado :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.type, new { @class = "form-control", @readonly = "true" })
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                * Fecha Solicitud de Afiliación :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.fechaAfiliacion, new { @class = "form-control", @readonly = "true" })
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                * Solicitud de Afiliación creada por :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.usuarioAfiliacion, new { @class = "form-control", @readonly = "true" })
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                * Número de Documento/Cédula :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.docnumber, new { @class = "form-control", @readonly = "true" })
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                * Correo Electrónico :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control"})
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                * Primer Nombre :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.name)
                            </div>

                            <div class="editor-label col-md-4 control-label Natural">
                                Segundo Nombre :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.name2, new { @class = "form-control Natural" })
                                @Html.ValidationMessageFor(model => model.name2)
                            </div>

                            <div class="editor-label col-md-4 control-label Natural">
                                * Primer Apellido :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.lastname1, new { @class = "form-control Natural" })
                                @Html.ValidationMessageFor(model => model.lastname1)
                            </div>

                            <div class="editor-label col-md-4 control-label Natural">
                                Segundo Apellido :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.lastname2, new { @class = "form-control Natural" })
                                @Html.ValidationMessageFor(model => model.lastname2)
                            </div>

                            <div class="editor-label col-md-4 control-label Natural">
                                * Fecha de Nacimiento :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.birthdate, new { @class = "form-control Natural" })
                                @Html.ValidationMessageFor(model => model.birthdate)
                            </div>

                            <div class="editor-label col-md-4 control-label Natural">
                                * Sexo :
                            </div>

                            <div class="editor-field col-md-6 Natural">
                                @Html.DropDownListFor(m => m.gender,
                                new SelectList(Model.SexoOptions,
                                "id", "sexo",
                                Model.SexoOptions), new { @class = "form-control" })
                            </div>

                            <div class="editor-label col-md-4 control-label Natural">
                                * Estado Civil :
                            </div>

                            <div class="editor-field col-md-6 Natural">
                                @Html.DropDownListFor(m => m.maritalstatus,
                                new SelectList(Model.MaritalStatusOptions,
                                "id", "maritalstatus",
                                Model.MaritalStatusOptions), new { @class = "form-control" })
                            </div>

                            <div class="editor-label col-md-4 control-label Natural">
                                * Nacionalidad :
                            </div>

                            <div class="editor-field col-md-6 Natural">
                                @Html.DropDownListFor(m => m.nationality,
                                new SelectList(Model.NacionalidadOptions,
                                "id", "nacionalidad",
                                Model.NacionalidadOptions), new { @class = "form-control" })
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                * Teléfono de Casa :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.phone1, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.phone1)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Teléfono de Oficina :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.phone2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.phone2)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Teléfono de Celular :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.phone3, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.phone3)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Ocupación :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.occupation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.occupation)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Twitter :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.twitter_account, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.twitter_account)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Facebook :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.facebook_account, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.facebook_account)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Instagram :
                            </div>

                            <div class="editor-field col-md-6">
                                @Html.TextBoxFor(model => model.instagram_account, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.instagram_account)
                            </div>

                        </div>
                        <!--// DATOS BÁSICOS -->

                        <div class="tab-pane" id="tab2">
                            @*COLOCAREMOS CODIGO PARA PERMITIR ESCANEAR/ADJUNTAR IMAGEN, OPCIONAL, SI EL AFILIADO NO TIENE IMAGEN EN BD*@
                            @{
                                if (Model.picture != null)
                                {
                                    @:<div class="editor-label col-md-2 control-label">
                                    @:</div>
                                    @:<div class="editor-field col-md-10">
                                        @:<img src="@Url.Action("GetImage", "AfiliadoSuma", new { id = Model.id })" />
                                    @:</div>
                                }
                                else
                                {
                                    @:<div class="editor-label col-md-10 control-label">
                                        @:<div class="editor-label col-md-10 control-label">
                                            @:<p class="text-left text-danger">Escanee el documento de identidad, o seleccione el archivo si ya está escaneado.</p>
                                        @:</div>
                                    @:</div>
                                    @:<div class="col-md-12">
                                        Html.RenderPartial("SilverlightEscaner");
                                        @:<div class="editor-label col-md-10">
                                            @:<p class="text-left" id="ElementoControl" style="display: none">ElementoControl</p>
                                        @:</div>
                                    @:</div>
                                    @:<div class="col-md-12 col-btn">
                                        @:<div id="capaarchivo" class="text-left">
                                            @:<input id="fileNoValidado" type=file name="fileNoValidado" style="visibility:hidden;position:absolute;top:0;left:0" onchange="ActualizaElementoControl('ElementoControl','Seleccionada', this, '@Model.docnumber')">
                                            @:<input type="button" value="Seleccione Archivo" class="btn btn-success btn-md" onclick="this.form.fileNoValidado.click()">
                                            @:<span id="info" style="border: 0px solid black"></span>
                                        @:</div>
                                    @:</div>
                                }                                                       
                             }
                        </div>

                        <!-- DIRECCIÓN -->
                            <div class="tab-pane" id="tab3">

                                <div class="editor-label col-md-4 control-label"></div>
                                <div class="editor-field col-md-6">
                                    <br />
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    * Estado :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.cod_estado,
                                new SelectList(Model.ListaEstados,
                                "COD_ESTADO", "DESCRIPC_ESTADO",
                                Model.ListaEstados), new { @class = "form-control" })
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    * Ciudad :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.cod_ciudad,
                                new SelectList(Model.ListaCiudades,
                                "cod_ciudad", "descripc_ciudad",
                                Model.ListaCiudades), new { @class = "form-control" })
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    * Municipio :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.cod_municipio,
                                new SelectList(Model.ListaMunicipios,
                                "cod_municipio", "descripc_municipio",
                                Model.ListaMunicipios), new { @class = "form-control" })
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    * Parroquia :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.cod_parroquia,
                                new SelectList(Model.ListaParroquias,
                                "cod_parroquia", "descripc_parroquia",
                                Model.ListaParroquias), new { @class = "form-control" })
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    * Urbanización :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.cod_urbanizacion,
                                new SelectList(Model.ListaUrbanizaciones,
                                "cod_urbanizacion", "descripc_urbanizacion",
                                Model.ListaUrbanizaciones), new { @class = "form-control" })
                                </div>

                                <div class="editor-label col-md-4 control-label"></div>
                                <div class="editor-field col-md-6">
                                    <br />
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    * Canal :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.channelid,
                                new SelectList(Model.ChannelOptions,
                                "id", "channel",
                                Model.ChannelOptions), new { @class = "form-control" })
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    * Sucursal de Afiliación:
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.storeid,
                                new SelectList(Model.StoreOptions,
                                "id", "sucursal",
                                Model.StoreOptions), new { @class = "form-control", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.storeid)
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    Tipo de Despacho/Entrega :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.typedelivery,
                                new SelectList(Model.TypeDeliveryOptions,
                                "id", "delivery",
                                Model.TypeDeliveryOptions), new { @class = "form-control" })
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    Sucursal :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.DropDownListFor(m => m.storeiddelivery,
                                new SelectList(Model.StoreOptions,
                                "id", "sucursal",
                                Model.StoreOptions), new { @class = "form-control" })
                                </div>

                                <div class="editor-label col-md-4 control-label"></div>
                                <div class="editor-field col-md-6">
                                    <br />
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    Temas de Interés :
                                </div>

                                <div class="editor-field col-md-6">
                                    @for (int i = 0; i < Model.Intereses.Count; i++)
                                    {
                                        @Html.CheckBoxFor(m => m.Intereses[i].Checked, new { id = i })
                                        @Html.HiddenFor(m => m.Intereses[i].id)
                                        @Html.DisplayFor(m => m.Intereses[i].name)
                                        <br />
                                    }
                                </div>

                                <div class="editor-label col-md-4 control-label"></div>
                                <div class="editor-field col-md-6">
                                    <br />
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    Comentarios/Observaciones :
                                </div>

                                <div class="editor-field col-md-6">
                                    @Html.TextAreaFor(model => model.comments, new { @class = "form-control", style = "width: 520px; height: 100px;" })
                                    @Html.ValidationMessageFor(model => model.comments)
                                </div>

                                <div class="editor-label col-md-4 control-label"></div>
                                <div class="editor-field col-md-6">
                                    <br />
                                </div>

                                <div class="editor-label col-md-4 control-label"></div>
                                <div class="editor-field col-md-6">
                                    <input type="submit" class="btn btn-success btn-md" value="Guardar" style="padding-right: 15px; padding-left: 15px; margin-left: 0px;" />
                                </div>


                            </div>
                            <!-- DIRECCIÓN -->

                            <div class="editor-label col-md-4 control-label"></div>
                            <div class="editor-field col-md-6">
                                <br />
                            </div>

                            <div class="editor-label col-md-4 control-label"></div>
                            <div class="editor-field col-md-6">
                                <!-- BOTONES -->
                                <ul class="pager wizard">

                                    <li class="previous"><a href="#">Anterior</a></li>
                                    <li class="next pull-left"><a href="#">Siguiente</a></li>
                                </ul>
                                <!--// BOTONES -->
                            </div>



                            <div class="editor-label col-md-4 control-label"></div>
                            <div class="editor-field col-md-6">
                                <br />
                            </div>

                            <div class="editor-label col-md-4 control-label"></div>
                            <div class="editor-field col-md-6">
                                <br />
                            </div>

                        </div>
                        <!--// tab-content -->

                    </div>
                    <!--// rootwizard -->
            </form>

        </div>
        <!--// panel-body -->

    </div>
    <!--// row -->

</div>
<!--// container -->

<script>
    $(document).ready(function () {
        VerificarTipoDocumento()
    });

    function VerificarTipoDocumento() {
        var str = document.getElementById('docnumber').value;
        if (str.search("J") == 0 || str.search("G") == 0) {
            $(".Natural").hide();
        }
    }

    //<!-- SECCION PARA VERIFICAR OPERACIONES ESCANER-->
    function ActualizaElementoControl(ElementoControl, ValorDeControl, InputFile, Docnumber) {
        var NombreArchivo = InputFile.value.split('\\');
        var TamañoArchivo = InputFile.files[0].size;
        if (NombreArchivo[NombreArchivo.length - 1] != Docnumber + ".jpg") {
            alert("El archivo seleccionado no corresponde con el cliente Número de Documento / Cédula: " + Docnumber);
            Borracampofile();
        }
        else if (TamañoArchivo > 51200) {
            alert("El tamaño del archivo seleccionado no puede ser mayor a 50 Kb");
            Borracampofile();
        }
        else {
            document.getElementById(ElementoControl).innerHTML = ValorDeControl;
            document.getElementById("info").innerHTML = NombreArchivo[NombreArchivo.length - 1];
        }
    }

    function Borracampofile() {
        var textofuncion = "ActualizaElementoControl('ElementoControl', 'Seleccionada', this, '@Model.docnumber')"
        capa = window.capaarchivo;
        varHTML = '';
        capa.innerHTML = varHTML;
        varHTML += '<input id="fileNoValidado" type=file name="fileNoValidado" style="visibility:hidden;position:absolute;top:0;left:0" onchange="' + textofuncion + '" />';
        varHTML += '<input type="button" value="Seleccione Archivo" class="btn btn-success btn-md" onclick="this.form.fileNoValidado.click()">'
        varHTML += '<span id="info" style="border: 0px solid black"></span>'
        capa.innerHTML = varHTML;
    }
    //<!-- FIN SECCION PARA VERIFICAR OPERACIONES --> 
</script>
