@model Suma2Lealtad.Models.AfiliadoSuma

@{
    ViewBag.Title = "ReactivarTarjeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Afiliado / Reactivar Tarjeta</h3>
        </div>

        <div class="panel-body">

            <form action="@Url.Action("ReactivarTarjeta", "AfiliadoSuma", new { id = @Model.id })" name="form" method="post">

                <div class="editor-label col-md-4 control-label">
                    Tipo de Afiliado :
                </div>

                <div class="editor-field col-md-6">
                    @Html.TextBoxFor(model => model.type, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Nombre del Afiliado :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBox("name", @Model.name + " " + @Model.lastname1, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Número de Documento/Cédula :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBox("docnumber", @Model.docnumber, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Número de Tarjeta :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBox("pan", @Model.pan, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Estatus de Tarjeta :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBox("estatustarjeta", @Model.estatustarjeta, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="col-md-12 col-btn">
                    <div class="text-center">
                        <p class="text-danger">
                            Advertencia: Esta operación reactivará la tarjeta actual.
                        </p>
                        <input type="submit" class="btn btn-success btn-md" value="Reactivar" />
                    </div>
                </div>

                <!-- buttons -->
                <div class="col-md-12 col-tabla-btn">
                    <div class="pull-right">
                        <a href="@Url.Action("FilterReview", "AfiliadoSuma")" class="btn btn-danger btn-md">Regresar</a>
                    </div>
                </div>
                <!--// buttons -->
            </form>

        </div>

    </div>
    <!-- panel-body -->

</div>
<!-- panel panel-default -->
