@model IList<Suma2Lealtad.Models.DetalleOrdenRecargaPrepago>
@{
    ViewBag.Title = "DetalleOrden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="css/bootstrap.css" rel="stylesheet">*@
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
@*<link href="css/style.css" rel="stylesheet">*@
@*<link href="~/Content/style.css" rel="stylesheet" />*@

<style type="text/css" media="screen">
    .table-hover {
        cursor: pointer;
    }

    .table tbody tr.active td {
        background-color: #5e8262; /*#476B6B #29A329;*/
        color: white;
    }
</style>

@{
    string indicadorGuardar;
    if (Session["RoleLevel"].ToString() == "3")
    {
        if (Model.First().statusOrden == "Nueva")
        {
            indicadorGuardar = "Aprobar";
        }
        else
        {
            indicadorGuardar = "Guardar";
        }
    }
    else
    {
        indicadorGuardar = "Guardar";
    }
}

<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Prepago / Ordenes de Recarga / Detalle de la Orden</h3>
        </div>

        <div class="panel-body">

            <div class="editor-label col-md-4 control-label">
                <br />
            </div>
            <div class="editor-field col-md-8">
                <br />
            </div>

            <form id="commentForm" method="post" action="@Url.Action("AprobarOrden", "OrdenRecargaPrepago", new { id = Model.First().idOrden, indicadorGuardar = @indicadorGuardar })" class="form-horizontal" onsubmit="return actualizarRecargas();">

                <div class="editor-label col-md-4 control-label">
                    Cliente :
                </div>

                <div class="editor-field col-md-6">
                    @Html.TextBoxFor(model => model.First().nameCliente, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    RIF :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.First().rifCliente, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="editor-label col-md-4 control-label">
                    Teléfono :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.First().phoneCliente, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label"></div>
                <div class="editor-field col-md-8">
                    <br />
                </div>

                <div class="editor-label col-md-4 control-label">
                    Nro. de Orden :
                </div>

                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.First().idOrden, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Estatus de la Orden :
                </div>

                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.First().statusOrden, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Comentarios :
                </div>

                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.First().tipoOrden, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Documento de Referencia :
                </div>

                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.First().documentoOrden, new { @class = "form-control Referencia" })
                </div>

                <div class="editor-field col-md-6">
                    <br />
                </div>

                <table id="detalleOrden" class="table table-hover">

                    <thead>
                        <tr>
                            <th>Número de Documento/Cédula</th>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th>Estatus</th>
                            <th>Observaciones</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>

                    <tbody>

                        @for (int i = 0; i < Model.Count; i++)
                        {     
                            <tr data-row-key="@Model[i].idAfiliado">

                                @Html.HiddenFor(modelItem => Model[i].idAfiliado)
                                @Html.HiddenFor(modelItem => Model[i].idOrden)

                                @*<td>
                                     @Html.DisplayFor(modelItem => item.beneficiario.Afiliado.type, new { @class = "form-control" })
                                </td>*@

                                <td>
                                    @Html.HiddenFor(modelItem => Model[i].docnumberAfiliado)
                                    @Html.DisplayFor(modelItem => Model[i].docnumberAfiliado, new { @class = "form-control" })
                                </td>

                                <td>
                                    @Html.HiddenFor(modelItem => Model[i].nameAfiliado)
                                    @Html.HiddenFor(modelItem => Model[i].lastname1Afiliado)
                                    @Html.DisplayFor(modelItem => Model[i].nameAfiliado) @Html.DisplayFor(modelItem => Model[i].lastname1Afiliado)
                                </td>

                                <td>
                                    @Html.HiddenFor(modelItem => Model[i].montoRecarga)
                                    @Html.DisplayFor(modelItem => Model[i].montoRecarga, new { @class = "form-control " })
                                </td>

                                <td>
                                    @Html.HiddenFor(modelItem => Model[i].statusDetalleOrden)
                                    @Html.DisplayFor(modelItem => Model[i].statusDetalleOrden, new { @class = "form-control " })
                                </td>

                                <td>
                                    @{if (Model.First().statusOrden == "Nueva")
                                      {
                                        <p class="ObservacionesInicial">@Html.DisplayFor(modelItem => Model[i].observacionesExclusion)</p>                                           
                                        @Html.TextBoxFor(modelItem => Model[i].observacionesExclusion, new { @class = "form-control Observaciones" })                                          
                                      }
                                      else if (Model[i].statusDetalleOrden == "Procesado")
                                      {
                                          if (Model[i].resultadoRecarga == "0")
                                          {
                                        @Html.DisplayFor(modelItem => Model[i].observacionesExclusion) 
                                          }
                                          else
                                          {
                                        @(String.Format("{0} ({1})", Model[i].observacionesExclusion, Model[i].resultadoRecarga))
                                          }
                                      }
                                      else
                                      {
                                        @Html.DisplayFor(modelItem => Model[i].observacionesExclusion)                                     
                                      }
                                    }
                                </td>

                                @{if (Model.First().statusOrden == "Nueva")
                                  {
                                      if (Model[i].statusDetalleOrden == "Incluido")
                                      {
                                    <td class="text-right" onclick="Excluir(this)">
                                        <a class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                      }
                                      else
                                      {
                                    <td class="text-right" onclick="Incluir(this)">
                                        <a class="btn btn-success btn-sm">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </td>
                                      }
                                  }
                                }
                            </tr>                 
                        }
                    </tbody>

                </table>

                <div class="editor-label col-md-4 control-label">
                    Total Recargas :
                </div>

                <div class="editor-form col-md-6">
                    <input type="text" id="TotalRecargas" name="TotalRecargas" value="" maxlength="10" class="form-control" readonly="true">
                </div>

                <div class="editor-label col-md-4 control-label">
                    Monto Total Recargas :
                </div>

                <div class="editor-form col-md-6">
                    <input type="text" id="MontoTotalRecargas" name="MontoTotalRecargas" value="" maxlength="10" class="form-control" readonly="true">
                </div>

                <div class="editor-form col-md-6">
                    <input type="text" id="DocumentoReferencia" name="DocumentoReferencia" value="" maxlength="10" class="form-control" style="visibility: hidden">
                </div>

                <div class="editor-label col-md-4 control-label">
                    <br />
                </div>
                <div class="editor-field col-md-8">
                    <br />
                </div>

                <!-- SECCION PARA botones de operaciones -->
                <div class="col-md-12 col-btn">
                    <div class="pull-right">
                        @{if (Model.First().statusOrden == "Nueva")
                          {
                              if (@indicadorGuardar == "Aprobar")
                              {                            
                            <input id="Aprobar" type="submit" class="btn btn-success btn-md" value="Aprobar Orden" />
                            <a id="Rechazar" href="@Url.Action("RechazarOrden", "OrdenRecargaPrepago", new { id = Model.First().idOrden })" class="btn btn-success btn-md">Rechazar Orden</a>
                              }
                              else
                              {                                  
                            <input id="Guardar" type="submit" class="btn btn-success btn-md" value="Guardar Orden" />                                
                              }
                          }
                          else if (Model.First().statusOrden == "Aprobada")
                          {
                            <a href="@Url.Action("ProcesarOrden", "OrdenRecargaPrepago", new { id = Model.First().idOrden })" class="btn btn-success btn-md">Procesar Orden</a>
                          }
                          else if (Model.First().statusOrden == "Procesada")
                          {
                            <input id="Guardar" type="submit" class="btn btn-success btn-md" value="Guardar Orden" />
                          }
                        }
                        <a href="@Url.Action("FilterReview", "OrdenRecargaPrepago")" class="btn btn-danger btn-md">Regresar</a>
                    </div>
                </div>

            </form>

        </div>
        <!-- panel-body -->

    </div>
    <!-- panel -->

</div>

@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>*@
<script>
    $(document).ready(function () {
        $(".Observaciones").hide();
        actualizarRecargas()
    });

    function Excluir(elemento) {
        var filatabla = $(elemento).closest('tr');
        var html;
        $(filatabla).children("td").each(function (index2) {
            switch (index2) {
                case 3:
                    html = $(this).html();
                    html = $.trim(html);
                    html = html.replace("Incluido", "Excluido");
                    html = html.replace("Incluido", "Excluido");
                    $(this).html(html);
                    break;
                case 4:
                    $(this).children(".ObservacionesInicial").hide();
                    //$(this).children(".Observaciones").show();
                    $(this).children("input").val("");
                    $(this).children("input").show();
                    $(this).children("input").focus();
                    break;
                case 5:
                    $(this).attr("onclick", "Incluir(this)");
                    $(this).html('<a class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></a>');
                    break;
            }
        });
        actualizarRecargas();
    };

    function Incluir(elemento) {
        var filatabla = $(elemento).closest('tr');
        $(filatabla).children("td").each(function (index2) {
            switch (index2) {
                case 3:
                    html = $(this).html();
                    html = $.trim(html);
                    html = html.replace("Excluido", "Incluido");
                    html = html.replace("Excluido", "Incluido");
                    $(this).html(html);
                    break;
                case 4:
                    $(this).children(".ObservacionesInicial").hide();
                    //$(this).children(".Observaciones").show();
                    $(this).children("input").val("");
                    $(this).children("input").hide();
                    break;
                case 5:
                    $(this).attr("onclick", "Excluir(this)");
                    $(this).html('<a class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a>');
                    break;
            }
        });
        actualizarRecargas();
    };

    function actualizarRecargas() {
        var TotalRecargas = 0;
        var MontoTotalRecargas = parseFloat("0");
        $("#detalleOrden tbody tr").each(function (index) {
            var campo3 = 0;
            var campo4;
            $(this).children("td").each(function (index2) {
                switch (index2) {
                    case 2:
                        temp = $(this).text();
                        temp = temp.replace(",", ".");
                        campo3 = parseFloat(temp);
                        break;
                    case 3:
                        campo4 = $.trim($(this).text());
                        break;
                        //case 4:
                        //    if ($(this).children("input").val() != "") {
                        //        $(this).children("input").show();
                        //    }
                        //    break;
                }
            });
            if (campo4 != "Excluido") {
                TotalRecargas = TotalRecargas + 1;
                MontoTotalRecargas = MontoTotalRecargas + campo3;
            }
        });
        if (TotalRecargas == 0) {
            $("#Aprobar").hide();
        }
        else if ("@Model.First().statusOrden" == "Aprobada") {
            $("#Aprobar").hide();
        }
        else {
            $("#Aprobar").show();
        }
        document.getElementById('TotalRecargas').value = TotalRecargas;
        document.getElementById('MontoTotalRecargas').value = MontoTotalRecargas.toFixed(2).toString().replace(".", ",");
        document.getElementById('DocumentoReferencia').value = $(".Referencia").val();
        return true;
    };

</script>
