@model Suma2Lealtad.Models.Afiliacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Afiliacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdAfiliado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdAfiliado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaSolicitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaSolicitud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaAfiliacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaAfiliacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdSucursal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSucursal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdRazonBloqueo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdRazonBloqueo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdRazonRechazo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdRazonRechazo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdOcupacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdOcupacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdNacionalidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdNacionalidad)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
