@model IEnumerable<Suma2Lealtad.Models.Afiliado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="css/bootstrap.css" rel="stylesheet">*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<link href="css/style.css" rel="stylesheet">*@
<link href="~/Content/style.css" rel="stylesheet" />

<style type="text/css" media="screen">
    .table-hover {
        cursor: pointer;
    }

    .table tbody tr.active td {
        background-color: #1C2B2B; /*#476B6B #29A329;*/
        color: white;
    }
</style>

<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Afiliado / Lista de Afiliaciones</h3>
        </div>

        <div class="panel-body">

            <table id="afiliados" class="table table-hover">

                <thead>

                <tr>
                    <th>Número de Documento</th>
                    <th>Nombre del Afiliado</th>
                    <th>Correo Electrónico</th>
                    <th>Estatus de Afiliación</th>
                    <th>Número de Tarjeta</th>
                    <th>Estatus de Tarjeta</th>
                    <th class="text-center"></th>
                </tr>

                </thead>

                <tbody>

                @foreach (var item in Model)
                {
                    <tr data-row-key="@item.id" data-statusafiliacion="@item.estatus" data-statustarjeta="@item.estatustarjeta">
                        <td>
                            @Html.DisplayFor(modelItem => item.docnumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.estatus)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.pan)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.estatustarjeta)
                        </td>

                        <td class="text-right">
                            <a id="@item.id" href="@Url.Action("Edit", "Afiliado", new { id = item.id })" class="btn btn-info btn-xs disabled">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                    </tr>
                }

                </tbody>

            </table>

            <!-- SECCION PARA botones de operaciones -->
            <div class="col-md-12 col-btn">
                <div class="pull-left">
                    @*<a id="CrearPin" href="@Url.Action("CrearPin", "Afiliado", new { id = idAfiliado })" class="btn btn-success btn-md disabled" role="button">Crear Pin</a>*@
                    <a id="CrearPin" class="btn btn-success btn-md" role="button">Crear Pin</a>
                    <a id="CambiarPin" class="btn btn-success btn-md" role="button">Cambiar Pin</a>
                    <a id="ReiniciarPin" class="btn btn-success btn-md" role="button">Reiniciar Pin</a>
                    <a id="ImprimirTarjeta" class="btn btn-success btn-md" role="button">Imprimir Tarjeta</a>
                    <a id="BloquearTarjeta" class="btn btn-success btn-md" role="button">Bloquear Tarjeta</a>
                    <a id="SuspenderTarjeta" class="btn btn-success btn-md" role="button">Suspender Tarjeta</a>
                    <a id="SaldosMovimientos" class="btn btn-success btn-md" role="button">Saldos y Movimientos</a>
                    <a id="Acreditar" class="btn btn-success btn-md" role="button">Acreditar más</a>
                </div>
                <div class="pull-right">
                    <a href="@Url.Action("FilterReview", "Afiliado")" class="btn btn-success btn-md">Regresar</a>
                </div>
            </div>

            <script src="~/Scripts/jquery-2.1.3.min.js"></script>
            <script>
                $(document).ready(function () {
                    var rowId;
                    var docNumber;
                    var statusAfiliacion;
                    var statusTarjeta;

                    $("#CrearPin").addClass("disabled");
                    $("#CambiarPin").addClass("disabled");
                    $("#ReiniciarPin").addClass("disabled");
                    $("#ImprimirTarjeta").addClass("disabled");
                    $("#BloquearTarjeta").addClass("disabled");
                    $("#SuspenderTarjeta").addClass("disabled");
                    $("#SaldosMovimientos").addClass("disabled");
                    $("#Acreditar").addClass("disabled");

                    $('.table tr').click(function () {
                        rowId = $(this).data("row-key");
                        statusAfiliacion = $(this).data("statusafiliacion");
                        statusTarjeta = $(this).data("statustarjeta");

                        $('.table tbody tr').removeClass("active");
                        $(this).addClass("active");
                        $("#" + rowId).removeClass("disabled");

                        $("#CrearPin").addClass("disabled"); 
                        $("#CambiarPin").addClass("disabled"); 
                        $("#ReiniciarPin").addClass("disabled"); 
                        $("#ImprimirTarjeta").addClass("disabled"); 
                        $("#BloquearTarjeta").addClass("disabled"); 
                        $("#SuspenderTarjeta").addClass("disabled"); 
                        $("#SaldosMovimientos").addClass("disabled"); 
                        $("#Acreditar").addClass("disabled"); 

                        //Verificar combinaciones de estatus de afiliacion y tarjeta
                        if (statusAfiliacion == "Nueva" && statusTarjeta == "Nueva") {
                            $("#ImprimirTarjeta").removeClass("disabled");
                            $("#SaldosMovimientos").removeClass("disabled");
                            $("#Acreditar").removeClass("disabled");
                        }
                        else if (statusAfiliacion == "Activa" && statusTarjeta == "Inactiva") {
                            $("#CrearPin").removeClass("disabled");
                            $("#BloquearTarjeta").removeClass("disabled");
                            $("#SuspenderTarjeta").removeClass("disabled");
                            $("#SaldosMovimientos").removeClass("disabled");
                            $("#Acreditar").removeClass("disabled");
                        }
                        else if (statusAfiliacion == "Activa" && statusTarjeta == "Activa") {
                            $("#CambiarPin").removeClass("disabled");
                            $("#ReiniciarPin").removeClass("disabled");
                            $("#BloquearTarjeta").removeClass("disabled");
                            $("#SuspenderTarjeta").removeClass("disabled");
                            $("#SaldosMovimientos").removeClass("disabled");
                            $("#Acreditar").removeClass("disabled");
                        }                       
                    });

                    $("#CrearPin").click(function () {
                        var href = '@Url.Content("~/{controller}/{action}/{params}")'
                        href = href.replace("{controller}", "Afiliado");
                        href = href.replace("{action}", "CrearPin");
                        href = href.replace("{params}", rowId);
                        window.location.href = href;
                    });

                    $("#CambiarPin").click(function () {
                        var href = '@Url.Content("~/{controller}/{action}/{params}")'
                        href = href.replace("{controller}", "Afiliado");
                        href = href.replace("{action}", "CambiarPin");
                        href = href.replace("{params}", rowId);
                        window.location.href = href;
                    });

                    $("#ReiniciarPin").click(function () {
                        var href = '@Url.Content("~/{controller}/{action}/{params}")'
                        href = href.replace("{controller}", "Afiliado");
                        href = href.replace("{action}", "ReiniciarPin");
                        href = href.replace("{params}", rowId);
                        window.location.href = href;
                    });

                    $("#ImprimirTarjeta").click(function () {
                        var href = '@Url.Content("~/{controller}/{action}/{params}")'
                        href = href.replace("{controller}", "Afiliado");
                        href = href.replace("{action}", "ImprimirTarjeta");
                        href = href.replace("{params}", rowId);
                        window.location.href = href;
                    });

                    $("#BloquearTarjeta").click(function () {
                        alert("BloquearTarjeta");
                        @*var href = '@Url.Content("~/{controller}/{action}/{params}")'
                        href = href.replace("{controller}", "Afiliado");
                        href = href.replace("{action}", "BloquearTarjeta");
                        href = href.replace("{params}", rowId);
                        window.location.href = href;*@
                    });

                    $("#SuspenderTarjeta").click(function () {
                        alert("SuspenderTarjeta");
                        @*var href = '@Url.Content("~/{controller}/{action}/{params}")'
                        href = href.replace("{controller}", "Afiliado");
                        href = href.replace("{action}", "SuspenderTarjeta");
                        href = href.replace("{params}", rowId);
                        window.location.href = href;*@
                    });

                    $("#SaldosMovimientos").click(function () {
                        var href = '@Url.Content("~/{controller}/{action}/{params}")'
                        href = href.replace("{controller}", "Afiliado");
                        href = href.replace("{action}", "SaldosMovimientos");
                        href = href.replace("{params}", rowId);
                        window.location.href = href;
                    });

                    $("#Acreditar").click(function () {
                        alert("Acreditar");
                        @*var href = '@Url.Content("~/{controller}/{action}/{params}")'
                        href = href.replace("{controller}", "Afiliado");
                        href = href.replace("{action}", "Acreditar");
                        href = href.replace("{params}", rowId);
                        window.location.href = href;*@
                    });
                });
            </script>
            <!-- SECCION PARA botones de operaciones -->

        </div>
        <!-- panel-body -->

    </div>
    <!-- panel panel-default -->

</div>
<!-- form-group -->
