@model IEnumerable<Suma2Lealtad.Models.Afiliado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Afiliado / Revisar Afiliaciones / Lista de Registros</h3>
        </div>

        <div class="panel-body">

            <table class="table table-striped custab">

                <thead>

                    <tr>
                        <th>Número Documento/Cédula
                        </th>
                        <th>Afiliado
                        </th>
                        <th>Correo
                        </th>
                        <th>Estatus
                        </th>

                        <th class="text-center"></th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.docnumber)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.estatus)
                            </td>

                            <td class="text-right">
                                <a href="@Url.Action("Edit", "Afiliado", new { id = item.id })" class="btn btn-info btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

            <div class="col-md-12 col-btn">
                <div class="pull-right">
                    <a href="@Url.Action("FilterReview", "Afiliado")" class="btn btn-success btn-md">Retornar</a>
                </div>
            </div>

        </div>
        <!-- panel-body -->

    </div>

</div>
<!-- form-group -->
