@model Suma2Lealtad.Models.ClientePrepago

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-7 col-md-offset-2">

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Prepago / Cliente / Agregar Nuevo Registro</h3>
                </div>

                <div class="panel-body">

                    <form action="@Url.Action("Create", "ClientePrepago")" method="post" class="form-horizontal" role="form" >

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <div class="editor-label col-md-4 control-label">
                                Rif :
                            </div>
                            <div class="editor-field col-md-8">
                                @Html.TextBoxFor(model => model.rifCliente, new { @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.rifCliente)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Nombre :
                            </div>
                            <div class="editor-field col-md-8">
                                @Html.TextBoxFor(model => model.nameCliente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nameCliente)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Alias :
                            </div>
                            <div class="editor-field col-md-8">
                                @Html.TextBoxFor(model => model.aliasCliente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.aliasCliente)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Dirección :
                            </div>
                            <div class="editor-field col-md-8">
                                @Html.TextBoxFor(model => model.addressCliente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.addressCliente)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Teléfono :
                            </div>
                            <div class="editor-field col-md-8">
                                @Html.TextBoxFor(model => model.phoneCliente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.phoneCliente)
                            </div>

                            <div class="editor-label col-md-4 control-label">
                                Email :
                            </div>
                            <div class="editor-field col-md-8">
                                @Html.TextBoxFor(model => model.emailCliente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.emailCliente)
                            </div>

                        </div>

                        <!-- btn btn-success -->
                        <div class="form-group">
                            <div class="col-md-12 col-btn">
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-success btn-md" value="Guardar" />
                                    <a href="@Url.Action("Filter", "ClientePrepago")" class="btn btn-danger btn-md" role="button">Cancelar</a>
                                </div>
                            </div>
                        </div>
                        <!--// btn btn-success -->

                    </form>

                </div>
                <!--// panel-body -->

            </div>
            <!--// panel -->

        </div>
        <!--// columns -->

    </div>
    <!--// row -->

</div>
<!--// container -->
