@model Suma2Lealtad.Models.BeneficiarioPrepago

@{
    ViewBag.Title = "Imprimir Tarjeta";
}

<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Prepago / Cliente / Beneficiario / Operaciones con la Impresora / Imprimir Tarjeta</h3>
        </div>

        <div class="panel-body">

            <form id="form" action="@Url.Action("ImprimirTarjeta", "ClientePrepago", new { id = @Model.Cliente.idCliente, idBeneficiario = @Model.Afiliado.id })" name="form" method="post">

                @Html.HiddenFor(model => model.Cliente.idCliente)

                <div class="editor-label col-md-4 control-label">
                    Cliente :
                </div>
                <div class="editor-field col-md-6">
                    @Html.TextBoxFor(model => model.Cliente.nameCliente, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    RIF :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.Cliente.rifCliente, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="editor-label col-md-4 control-label">
                    Teléfono :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.Cliente.phoneCliente, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label"></div>
                <div class="editor-field col-md-8">
                    <br />
                </div>

                <div class="editor-label col-md-4 control-label">
                    Tipo de Afiliado :
                </div>

                <div class="editor-field col-md-6">
                    @Html.TextBoxFor(model => model.Afiliado.type, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Nombre del Afiliado :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBox("name", @Model.Afiliado.name + " " + @Model.Afiliado.lastname1, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Número de Documento/Cédula :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBox("docnumber", @Model.Afiliado.docnumber, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Número de Tarjeta :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBox("pan", @Model.Afiliado.pan, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Estatus de Tarjeta :
                </div>
                <div class="editor-form col-md-6">
                    @Html.TextBox("estatustarjeta", @Model.Afiliado.estatustarjeta, new { @class = "form-control", @readonly = "true" })
                </div>

                <!-- btn btn-success -->
                <div class="col-md-12 col-btn">
                    <div class="text-center">
                        <p class="text-danger">
                            Coloque una tarjeta en la impresora y presione el botón Imprimir Tarjeta.
                        </p>
                        <a href="javascript:ImprimirTarjeta()" class="btn btn-success btn-md" role="button">Imprimir Tarjeta</a>
                    </div>
                </div>
                <!--// btn btn-success -->

                <!-- SilverLight -->

                @{Html.RenderPartial("SilverlightImpresora");}

                <!-- SECCION PARA VERIFICAR OPERACIONES Impresora-->
                <div class="col-md-12">
                    <p class="text-left" id="ElementoControl" style="display: none">ElementoControl</p>
                </div>

                <!-- SilverLight -->

                <!-- Sección pregunta modal -->
                <div class="source-code runnable">
                    <!--BootstrapDialog.show({
                            title: 'Impresora de Tarjetas',
                            message: '¿La tarjeta fue impresa correctamente?',
                            type: BootstrapDialog.TYPE_WARNING,
                            closable: false,
                            buttons: [{
                                label: 'No',
                                action: function(dialogRef) {
                                    dialogRef.close();
                                    //$("#sl").show();
                                    var href = '@Url.Content("~/{controller}/{action}/{params}")';
                                    var idcliente = @Model.Cliente.idCliente
                                    var idBeneficiario = @Model.Afiliado.id
                                    href = href.replace("{controller}", "ClientePrepago");
                                    href = href.replace("{action}", "ReImprimirTarjeta");
                                    href = href.replace("{params}", idcliente + "?idBeneficiario=" + idBeneficiario);
                                    window.location.href = href;  
                                }
                            }, {
                                label: 'Si',
                                action: function(dialogRef) {
                                    dialogRef.close();
                                    //$("#botonguardar").submit(); 
                                    //$("#submit").show(); 
                                    $("#form").submit();                             
                                    //$("#sl").show();
                                }
                            }]
                        });-->
                </div>

                @*fin sección de dialogo modal*@

                <div class="col-md-12 col-btn">
                    <div class="pull-right">
                        @*<input id="submit" name="submit" type="submit" class="btn btn-success btn-md" value="Activar Tarjeta" style="display: none" />*@
                        <a href="@Url.Action("FilterReviewBeneficiarios", "ClientePrepago", new { id = Model.Cliente.idCliente })" class="btn btn-danger btn-md">Regresar</a>
                    </div>
                </div>

            </form>

        </div>

    </div>
    <!--// panel -->

</div>
<!--// columns -->

@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@
@*<script src="~/Scripts/PruebaBS3Dialog/assets/prettify/run_prettify.js"></script>
<link href="~/Scripts/PruebaBS3Dialog/assets/bootstrap-dialog/css/bootstrap-dialog.css" rel="stylesheet" />
<script src="~/Scripts/PruebaBS3Dialog/assets/bootstrap-dialog/js/bootstrap-dialog.js"></script>*@

<script type="text/javascript">
    var Myinterval = setInterval(function () {
        if (document.getElementById("ElementoControl").innerHTML == "Impresa") {
            //clearInterval(Myinterval)
            document.getElementById("ElementoControl").innerHTML = "ElementoControl";
            ActivarDialogBox();
        }
    }, 1000);

    function ActivarDialogBox() {
        $('.source-code').each(function (index) {
            var $section = $(this);
            var code = $(this).html().replace('<!--', '').replace('-->', '');

            // Run code
            if ($section.hasClass('runnable')) {
                $("#sl").hide();
                eval(code);
            }
        });
    }
</script>

