@model IEnumerable<Suma2Lealtad.Models.BeneficiarioPrepagoIndex>
@{
    ViewBag.Title = "IndexBeneficiarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="css/bootstrap.css" rel="stylesheet">*@
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
@*<link href="css/style.css" rel="stylesheet">*@
@*<link href="~/Content/style.css" rel="stylesheet" />*@

<style type="text/css" media="screen">
    .table-hover {
        cursor: pointer;
    }

    .table tbody tr.active td {
        background-color: #5e8262; /*#476B6B #29A329;*/
        color: white;
    }
</style>

@*<form id="commentForm" method="post" action="@Url.Action("Index", "Afiliado")" class="form-horizontal">*@
<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Prepago / Cliente / Beneficiarios / Lista de Registros </h3>
        </div>

        <div class="panel-body">

            <div class="editor-label col-md-4 control-label">
                <br />
            </div>
            <div class="editor-field col-md-8">
                <br />
            </div>

            <div class="editor-label col-md-4 control-label">
                Cliente :
            </div>

            <div class="editor-field col-md-6">
                @Html.TextBoxFor(model => model.First().Cliente.nameCliente, new { @class = "form-control", @readonly = "true" })
            </div>

            <div class="editor-label col-md-4 control-label">
                RIF :
            </div>
            <div class="editor-form col-md-6">
                @Html.TextBoxFor(model => model.First().Cliente.rifCliente, new { @class = "form-control", @readonly = "true" })
            </div>
            <div class="editor-label col-md-4 control-label">
                Teléfono :
            </div>
            <div class="editor-form col-md-6">
                @Html.TextBoxFor(model => model.First().Cliente.phoneCliente, new { @class = "form-control", @readonly = "true" })
            </div>

            <div class="editor-label col-md-4 control-label"></div>
            <div class="editor-field col-md-8">
                <br />
            </div>

            <table id="beneficiarios" class="table table-hover">

                <thead>
                    <tr>
                        @*<th>Tipo</th>*@
                        <th>Número de Documento/Cédula</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Estatus de Afiliación</th>
                        <th>Número de Tarjeta</th>
                        <th>Estatus de Tarjeta</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.First().Afiliado != null)
                    {
                        foreach (var item in Model)
                        {                            
                        <tr data-row-key="@item.Afiliado.id" data-statusafiliacion="@item.Afiliado.estatus" data-statustarjeta="@item.Afiliado.estatustarjeta">
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Afiliado.type)
                            </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.Afiliado.docnumber)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Afiliado.name) @Html.DisplayFor(modelItem => item.Afiliado.lastname1)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Afiliado.email)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Afiliado.estatus)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Afiliado.pan)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Afiliado.estatustarjeta)
                            </td>

                            <td>
                                @{if (item.Afiliado.estatus == "Nueva")
                                  {
                                    <a id="@(item.Afiliado.id)_approve" href="@Url.Action("AprobarBeneficiario", "ClientePrepago", new { id = item.Cliente.idCliente, idBeneficiario = item.Afiliado.id })" class="btn btn-success btn-sm" >
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                  }
                                  else
                                  {
                                    <a id="@(item.Afiliado.id)_delete" href="@Url.Action("DeleteBeneficiario", "ClientePrepago", new { id = item.Cliente.idCliente, idBeneficiario = item.Afiliado.id })" class="btn btn-danger btn-sm" >
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                  }
                                }                          
                            </td>

                            <td>
                                <a id="@(item.Afiliado.id)_edit" href="@Url.Action("EditBeneficiario", "ClientePrepago", new { id = item.Cliente.idCliente, idBeneficiario = item.Afiliado.id })" class="btn btn-info btn-sm" >
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>

                        </tr>                 
                        }
                    }
                </tbody>

            </table>

            <!-- SECCION PARA botones de operaciones -->
            <div class="col-md-12 col-btn">
                <div class="pull-left">
                    <a id="CrearPin" class="btn btn-success btn-md" role="button">Crear Pin</a>
                    <a id="CambiarPin" class="btn btn-success btn-md" role="button">Cambiar Pin</a>
                    <a id="ReiniciarPin" class="btn btn-success btn-md" role="button">Reiniciar Pin</a>
                    <a id="ImprimirTarjeta" class="btn btn-success btn-md" role="button">Imprimir Tarjeta</a>
                    <a id="BloquearTarjeta" class="btn btn-success btn-md" role="button">Bloquear Tarjeta</a>
                    <a id="SuspenderTarjeta" class="btn btn-success btn-md" role="button">Suspender Tarjeta</a>
                    <a id="ReactivarTarjeta" class="btn btn-success btn-md" role="button">Reactivar Tarjeta</a>
                    <a id="SaldosMovimientos" class="btn btn-success btn-md" role="button">Saldos y Movimientos</a>
                    @*<a id="Acreditar" class="btn btn-success btn-md" role="button">Acreditar</a>*@
                </div>
                <div class="pull-right">
                    <a href="@Url.Action("FilterBeneficiario", "ClientePrepago", new { id = Model.First().Cliente.idCliente })" class="btn btn-success btn-md">Agregar Nuevo Beneficiario</a>
                    <a href="@Url.Action("FilterReviewBeneficiarios", "ClientePrepago", new { id = Model.First().Cliente.idCliente })" class="btn btn-danger btn-md">Regresar</a>
                </div>
            </div>

        </div>
        <!-- panel-body -->

    </div>
    <!-- panel -->

</div>

@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>*@
<script>
    $(document).ready(function () {
        var rowId;
        var colId;
        var docNumber;
        var statusAfiliacion;
        var statusTarjeta;

        $("#CrearPin").hide();
        $("#CambiarPin").hide();
        $("#ReiniciarPin").hide();
        $("#ImprimirTarjeta").hide();
        $("#BloquearTarjeta").hide();
        $("#SuspenderTarjeta").hide();
        $("#ReactivarTarjeta").hide();
        $("#SaldosMovimientos").hide();
        //$("#Acreditar").hide();
    });

    $('.table tbody tr td:not(:last-child)').click(function () {
        var filatabla = $(this).closest('tr');
        rowId = $(filatabla).data("row-key");
        statusAfiliacion = $(filatabla).data("statusafiliacion");
        statusTarjeta = $(filatabla).data("statustarjeta");
        $('.table tbody tr').removeClass("active");
        $(filatabla).addClass("active");

        $("#CrearPin").hide();
        $("#CambiarPin").hide();
        $("#ReiniciarPin").hide();
        $("#ImprimirTarjeta").hide();
        $("#BloquearTarjeta").hide();
        $("#SuspenderTarjeta").hide();
        $("#ReactivarTarjeta").hide();
        $("#SaldosMovimientos").hide();
        //$("#Acreditar").hide();

        if (statusAfiliacion == "Nueva") {
        }
        else if (statusAfiliacion == "Activa" && statusTarjeta == "Nueva") {
            $("#ImprimirTarjeta").show();
            $("#SaldosMovimientos").show();
        }
        else if (statusAfiliacion == "Activa" && statusTarjeta == "Activa") {
            $("#CrearPin").show();
            $("#CambiarPin").show();
            $("#ReiniciarPin").show();
            $("#BloquearTarjeta").show();
            $("#SuspenderTarjeta").show();
            $("#SaldosMovimientos").show();
            //$("#Acreditar").show();
        }
        else if (statusAfiliacion == "Activa" && statusTarjeta == "Suspendida") {
            $("#CrearPin").show();
            $("#CambiarPin").show();
            $("#ReiniciarPin").show();
            $("#BloquearTarjeta").show();
            $("#ReactivarTarjeta").show();
            $("#SaldosMovimientos").show();
        }
    });

    $("#CrearPin").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "CrearPin");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });

    $("#CambiarPin").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "CambiarPin");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });

    $("#ReiniciarPin").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "ReiniciarPin");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });

    $("#ImprimirTarjeta").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "ImprimirTarjeta");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });

    $("#BloquearTarjeta").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "BloquearTarjeta");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });

    $("#SuspenderTarjeta").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "SuspenderTarjeta");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });

    $("#ReactivarTarjeta").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "ReactivarTarjeta");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });

    $("#SaldosMovimientos").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "SaldosMovimientos");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });

    @*$("#Acreditar").click(function () {
        var href = '@Url.Content("~/{controller}/{action}/{params}")';
        var idcliente = @Model.First().Cliente.idCliente
        href = href.replace("{controller}", "ClientePrepago");
        href = href.replace("{action}", "Acreditar");
        href = href.replace("{params}", idcliente + "?idBeneficiario=" + rowId);
        window.location.href = href;
    });*@

</script>
<!-- SECCION PARA botones de operaciones -->


