@model Suma2Lealtad.Models.RolPermiso

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

<div class="row">
			
	<div class="col-md-7 col-md-offset-2">
				
	<div class="panel panel-default">

	<div class="panel-heading clearfix panel-gradient">
		<h3 class="panel-title">Nivel de Permisos / Editar</h3>
	</div>

	<div class="panel-body">

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Id)

		<form class="form-horizontal" role="form">

			<div class="form-group">

                <div class="editor-label col-md-4 control-label">
                    Roles :
                </div>
                <div class="editor-field col-md-8">
                    @Html.DropDownList("IdRol", String.Empty)
                    @Html.ValidationMessageFor(model => model.IdRol)
                </div>

                <div class="editor-label col-md-4 control-label">
                    Menú :
                </div>
                <div class="editor-field col-md-8">
                    @Html.DropDownList("IdMenu", String.Empty)
                    @Html.ValidationMessageFor(model => model.IdMenu)
                </div>

                <div class="editor-label col-md-4 control-label">
                    Nombre del Nivel :
                </div>
                <div class="editor-field col-md-8">
                    <select name="NivelPermiso" id="NivelPermiso">
                       <option value = ""></option>
                       <option value = "0">Sin Permiso</option>
                       <option value = "1">Solo Consulta</option>
                       <option value = "2">Consulta y Modificación</option>
                     </select>
                </div>

			</div>

			<!-- buttons -->
			<div class="form-group">
				<div class="col-md-12 col-btn">
					<div class="pull-right">
						<input type="submit" class="btn btn-success btn-md" value="Guardar" />
                        <a class="btn btn-success btn-md" href="@Url.Action("Index","Permiso")">Cancelar</a>
					</div>
				</div>
			</div><!--// buttons -->
		     
		</form>
                
        }

	</div><!--// panel-body -->

	</div><!--// panel panel-default -->

	</div><!--// columns -->			

</div><!--// row -->

</div><!--// container -->