@model IList<Suma2Lealtad.Models.CompanyAfiliadoRecarga>

@{
    ViewBag.Title = "ResultadoOrden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="css/bootstrap.css" rel="stylesheet">*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<link href="css/style.css" rel="stylesheet">*@
<link href="~/Content/style.css" rel="stylesheet" />

<style type="text/css" media="screen">
    .table-hover {
        cursor: pointer;
    }

    .table tbody tr.active td {
        background-color: #1C2B2B; /*#476B6B #29A329;*/
        color: white;
    }
</style>


<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Prepago / Compañia / Recargas / Resultado de la Orden</h3>
        </div>

        <div class="panel-body">

            <div class="editor-label col-md-4 control-label">
                Compañia :
            </div>

            <div class="editor-field col-md-6">
                @Html.TextBox("1", Model.FirstOrDefault().namecompañia, new { @class = "form-control", @readonly = "true" })
            </div>

            <div class="editor-label col-md-4 control-label">
                RIF :
            </div>

            <div class="editor-form col-md-6">
                @Html.TextBox("2", Model.FirstOrDefault().rif, new { @class = "form-control", @readonly = "true" })
            </div>

            <div class="editor-label col-md-4 control-label">
                Teléfono :
            </div>

            <div class="editor-form col-md-6">
                @Html.TextBoxFor(model => model.FirstOrDefault().phone, new { @class = "form-control", @readonly = "true" })
            </div>            

            <div class="editor-field col-md-6">
                <br />
            </div>

                @*<table class="table table-striped custab">*@
                <table id="beneficiarios" class="table table-hover">

                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Número de Documento/Cédula</th>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>

                    <tbody>

                        @for (int i = 0; i < Model.Count; i++)
                        {     
                            <tr data-row-key="@Model[i].Afiliadoid">
                                
                                @Html.HiddenFor(modelItem => Model[i].companyid)
                                @Html.HiddenFor(modelItem => Model[i].Afiliadoid)
                                
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].type, new { @class = "form-control" })
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].docnumber, new { @class = "form-control" })
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].name) @Html.DisplayFor(modelItem => Model[i].lastname1)
                                </td>

                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => Model[i].MontoRecarga, new { @class = "form-control" })
                                </td>

                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => Model[i].ResultadoRecarga, new { @class = "form-control"})
                                </td>
                              
                            </tr>                 
                        }
                    </tbody>

                </table>

            <div class="editor-label col-md-4 control-label"></div>
            <div class="editor-field col-md-6">
                <br />
            </div>

            <div class="editor-label col-md-4 control-label">
                Nro. de Orden :
            </div>

            <div class="editor-form col-md-6">
                @Html.TextBoxFor(model => model.FirstOrDefault().Orderid, new { @class = "form-control", @readonly = "true" })
            </div>

            <div class="editor-field col-md-6">
                <br />
            </div>
            
            <div class="col-md-12 col-tabla-btn">
                <div class="pull-right">
                        @*<a href="@Url.Action("", "")" class="btn btn-success btn-md">Órdenes de Recarga</a>
                        <a href="@Url.Action("", "")" class="btn btn-success btn-md">Recarga Individual</a>
                        <a href="@Url.Action("", "")" class="btn btn-success btn-md">Recarga Masiva</a>
                        <a href="@Url.Action("Filter", "CompanyPrepago", new { companyid = Model.companyid })" class="btn btn-success btn-md">Agregar Nuevo Beneficiario</a>
                        <a href="@Url.Action("FilterBeneficiariosRecargas", "CompanyPrepago", new { companyid = Model.FirstOrDefault().companyid })" class="btn btn-success btn-md">Filtrar Beneficiarios</a>
                        <a href="@Url.Action("FilterCompany", "CompanyPrepago")" class="btn btn-danger btn-md">Cancelar</a>*@
                        <a href="@Url.Action("Ordenes", "CompanyPrepago", new { id = Model.FirstOrDefault().companyid })" class="btn btn-success btn-md">Continuar</a>
                </div>
            </div>

        </div>
        <!-- SECCION PARA botones de operaciones -->

    </div>
    <!-- panel-body -->

</div>
<!-- panel -->
