@model Suma2Lealtad.Models.Menu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-7 col-md-offset-2">

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Menú / Agregar Nuevo Registro</h3>
                </div>

                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <form class="form-horizontal" role="form">

                            <div class="form-group">

                                <div class="editor-label col-md-4 control-label">
                                    Nombre :
                                </div>
                                <div class="editor-field col-md-8">
                                    @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.name)
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    Menu (Superior) :
                                </div>
                                <div class="editor-field col-md-8">
                                    @Html.TextBoxFor(model => model.parentid, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.parentid)
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    Controlador :
                                </div>
                                <div class="editor-field col-md-8">
                                    @Html.TextBoxFor(model => model.controller, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.controller)
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    Acción :
                                </div>
                                <div class="editor-field col-md-8">
                                    @Html.TextBoxFor(model => model.actions, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.actions)
                                </div>

                                <div class="editor-label col-md-4 control-label">
                                    Orden :
                                </div>
                                <div class="editor-field col-md-8">
                                    @Html.TextBoxFor(model => model.order, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.order)
                                </div>

                            </div>

                            <!-- btn btn-success -->
                            <div class="form-group">
                                <div class="col-md-12 col-btn">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-success btn-md" value="Guardar" />
                                        <a href="@Url.Action("Index", "Menu")" class="btn btn-danger btn-md" role="button">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            <!--// btn btn-success -->

                        </form>
                
                    }

                </div>
                <!--// panel-body -->

            </div>
            <!--// panel -->

        </div>
        <!--// columns -->

    </div>
    <!--// row -->

</div>
<!--// container -->
