@model Suma2Lealtad.Models.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Menu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.parentid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.parentid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.controller)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.controller)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.actions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.actions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.order)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.order)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tooltips)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tooltips)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
