@model Suma2Lealtad.Models.PARROQUIA

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-7 col-md-offset-2">

            <div class="panel panel-default">

                <div class="panel-heading clearfix panel-gradient">
                    <h3 class="panel-title">Parroquia / Agregar Nuevo Registro</h3>
                </div>

                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.COD_PARROQUIA)

                        <form class="form-horizontal" role="form">

                            <div class="form-group">

                                <div class="editor-label col-md-4 control-label">
                                    Parroquia :
                                </div>
                                <div class="editor-field col-md-8">
                                    @Html.TextBoxFor(model => model.DESCRIPC_PARROQUIA, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DESCRIPC_PARROQUIA)
                                </div>

                            </div>

                            <!-- buttons -->
                            <div class="form-group">
                                <div class="col-md-12 col-btn">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-success btn-md" value="Guardar" />
                                        <a class="btn btn-danger btn-md" href="@Url.Action("FilterParroquia", "Parroquia")">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            <!--// buttons -->

                        </form>
                
                    }

                </div>
                <!--// panel-body -->

            </div>
            <!--// panel panel-default -->

        </div>
        <!--// columns -->

    </div>
    <!--// row -->

</div>
<!--// container row -->
