<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrador SUMA</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
      <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->

</head>

<body>

    <div class="container">

        <div class="row row-plz">

            <div class="col-md-2 col-right">
                <img src="@Url.Content("~/Images/plzlogo.jpg")" />
            </div>

            <div class="col-md-6 col-plz col-left">
                <div class="font-plz">Administrador SUMA</div>
                <small>V.0.0.3</small>
            </div>

            @if (Session["username"] != null)
            {
                <div class="col-md-4 col-plz col-right">
                    <div class="row">@Html.Raw(Session["username"].ToString())</div>
                    <div class="row">@Html.Raw(Session["appdate"].ToString())</div>
                </div>
            }

        </div>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    @Html.Partial("_MenuLayout")

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        @RenderBody()

    </div>

    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bootstrap.wizard.min.js")"></script>

    <script>
    $(document).ready(function() {

       $.validator.addMethod("regex", function(value, element, regexpr) {          
         return regexpr.test(value);
       }, "Ingrese un valor correcto.");   

        var $validator = $("#commentForm").validate({
          rules: {

            name2: {
              required: true,
              minlength: 3
            },
            lastname2: {
              required: true,
              minlength: 3
            },
            email: {
              required: true,
              email:true,
              minlength: 3
            },


            emailfield: {
              required: true,
              email: true,
              minlength: 3
            },
            namefield: {
              required: true,
              /*minlength: 3,*/
              regex: /^[0-9]+$/
            },
            urlfield: {
              required: true,
              minlength: 3,
              url: true
            }
          },
        messages: {
            emailfield: { 
                emailfield: "Enter a valid email address.",
            },
        }         

        });

        $('#rootwizard').bootstrapWizard({
            'tabClass': 'nav nav-pills',
            'onNext': function(tab, navigation, index) {
                var $valid = $("#commentForm").valid();
                if(!$valid) {
                    $validator.focusInvalid();
                    return false;
                }
            }
        }); 
        window.prettyPrint && prettyPrint()
    }); 
    </script>

</body>

</html>
