@model Suma2Lealtad.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Company</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ALIAS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ALIAS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rif)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rif)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.creationdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creationdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
