@model Suma2Lealtad.Models.Auditing

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Auditing</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.objectid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.objectid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.operationsid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.operationsid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.creationdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creationdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.originaldata)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.originaldata)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.changedata)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.changedata)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
